.home {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  margin-bottom: 3.75rem;
}
.Test {
  background-color: aquamarine;
}

.clear:before {
  content: ' ';
  display: table;
  clear: both;
}

.home__title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin: 5rem 0;
}
.home__bg {
  background-image: url(https://assets-cdn.shimo.im/assets/images/home/index/video/Bitmap_2x-71b139170a.png);
  background-size: 1280px 800px;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}
.home__image {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: 500px 360px;
  width: 500px;
  height: 360px;
  vertical-align: top;
}
.home__image-01 {
  background-image: url(https://assets-cdn.shimo.im/assets/images/home/index/pic04_1_2x-7df3c0bf69.png);
}
.home__image-01 {
  background-image: url(https://assets-cdn.shimo.im/assets/images/home/index/pic04_2_2x-de896e823f.png);
}
.home__image-01 {
  background-image: url(https://assets-cdn.shimo.im/assets/images/home/index/pic04_3_2x-52bbfc0b3f.png);
}

.home__desc-container {
  text-align: center;
  margin-top: 6rem;
}
.home__desc {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  height: 360px;
}
.home__desc_right {
  padding-left: 5rem;
}
.home__desc_left {
  padding-right: 5rem;
}
.home__desc-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
}
.home__desc-content {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
}