.course-page {
  margin-top: 4rem;
  .wrap {
    width: 100%;
    height: 60rem;;

    .cover {
      position: absolute;
      left: 0;
      right: 0;
      height: 624px;

      .cover-shade {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.6);
      }

      img {
        width: 100%;
        height: 624px;
        object-fit: cover;
      }
    }

    .course-page-brief {
      width: 730px;
      height: 300px;
      border: 1px #FAFAFA;
      border-style: dashed;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      margin-top: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 16px;

      h1 {
        font-size: 3rem;
        color: #ffffff;
      }

      h2 {
        font-size: 2rem;
        color: #ffffff;
      }

      h3 {
        font-size: 1rem;
        font-style: italic;
        color: #ffffff;
      }
    }
  }

  .bottom-part {
    width: 100%;
    .title {
      text-align: center;
    }
    .article {
      min-height: 16rem;
      .content {
        font-size: 18px;
        padding: 2rem 0;
        .ql-align-center {
          text-align: center;
        }
        .ql-align-justify {
          text-align: justify;
        }
        .ql-align-right {
          text-align: right;
        }
        img {
          max-width: 90%;
        }
      }
    }

    .file-list {
      margin: 3rem 0;
      .file-link {
        height: 30px;
        line-height: 30px;
      }
    }
  }
}
