.course-page {
  .course-carousel {
    width: 100%;
    height: 370px;

    .ant-carousel .slick-slide {
      text-align: center;
      height: 350px;
      line-height: 350px;
      //background: #105979;
      background-image: url('/images/bg/bg_course_1.jpg');
      overflow: hidden;
    }

    .ant-carousel .slick-slide h3 {
      color: #fff;
    }
  }
  .course-card-list {
    display: flex;
    flex-wrap: wrap;
  }
}

