.navigation {
  width: 1200px;
  margin: 0 auto;

  .logo {
    //width: 120px;
    //height: 31px;
    //background: #333;
    //border-radius: 6px;
    //margin: 16px 24px 16px 0;
    float: left;
    span {
      color: #FFFFFF;
    }
  }
  .nav-pull-right {
    float: right;
    a {
      display: inline-block;
      text-decoration: none;
      width: 4.5rem;
      text-align: center;
      color: rgba(255, 255, 255, .5);

    }
  }
  .login-panel {
    border: 1px solid #FFF;
    border-radius: .3rem;
    height: 2rem;
    line-height: 2rem;
  }

  .user-block {
    width: fit-content !important;
    .user-panel {
      border: 1px solid #FFF;
      border-radius: .3rem;
      width: fit-content;
      height: 3rem;
      padding: 0 8px;
      display: flex;
      align-items: center;

      img {
        vertical-align: middle;
      }

      .user-name {
        margin-left: 8px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
  }
}
